.promo {
	width: 100%;
	font-size: 0;
}
.promo .promo__item {
	display: inline-block;
	vertical-align: top;
	width: 25%;
}
.promo__item img {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

